.NavbarItems{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 30px;
    background-color: #f5d9c1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    width: 95%;
    height: 80px;
    border-radius: 15px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
}

.logo{
/* Dicc.t */
position: absolute;
left: 0%;
right: 84.38%;
top: 0.14%;
bottom: 92.22%;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 53px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

/* material-theme/sys/light/primary */

color: #FF8E13;
}

.DictIcon{
/* Dicc.t */
position: absolute;
left: 0%;
right: 84.38%;
top: 0.14%;
bottom: 92.22%;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 53px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

/* material-theme/sys/light/primary */

color: #FF8E13;
}

.nav-menu{
    justify-content: end;
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: end;
}

.nav-links{
    text-decoration: none;
    color: white;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}

.nav-links i{
    padding-right: 10px;
}

.nav-links:hover{
    background: #e77000;
    border-radius: 4px;
    transition: all 0.s ease-in-out;
}

.nav-links-mobile{
/* button

Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like Dialogs, Modal windows, Forms, Cards and Toolbars

Filled buttons are high-emphasis buttons.
They have the most visual impact after the FAB, and should be used for important, final actions that complete a flow, like "Save", "Join now", or "Confirm".
*/

/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 125px;
height: 40px;
left: 1122px;
top: 9px;

/* material-theme/sys/light/primary

primary / on-primary

Regular text:
Level AA - ✅ Pass
Level AAA - ❌ Fail

Large text:
Level AA - ✅ Pass
Level AAA - ✅ Pass

Icons:
Level AA - ✅ Pass
*/
background: #FF8E13;
border-radius: 2px;
}